@import url("font-awesome.min.css");

html {
  height: 100%;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  display: block;
}

body {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.full-height {
  min-height: 100%;
}

.full-width {
  width: 100%;
}

article {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

.center-container {
  padding: 17.5% 0;
  vertical-align: middle;
  text-align: center;
}

.center-wrapper {
  display: table;
  width: 100%;
}

  .center-wrapper .inner-wrapper {
    display: table-cell;
    width: 100%;
    padding: 0 20%;
  }

@media only screen
and (min-width: 768px) {
  .center-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen
and (min-width : 1224px) {
  .center-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media only screen
and (min-width : 1824px) {
  .center-wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

#main {
  background-color: transparent;
}

  #main ul {
    list-style-type: none;
    padding: 0;
  }

    #main ul li {
      display: inline;
      padding: 0 10px;
    }

  #main h1 {
    color: white;
    font-weight: 300;
    font-size: 2em;
  }

  #main p {
    font-size: 0.9em;
    color: #b3b3b3;
    padding-bottom: 0.5em;
  }

  #main p a {
    color: #307EA9;
    text-decoration: none;
  }

#professional {
  color: white;
  background-color: #232323;
  text-align: center;
}

  #professional h1 {
    text-align: left;
  }

  #professional ul {
    list-style-type: none;
    padding-left: 0;
  }

    #professional ul li {
      display: inline-block;
      padding: 50px 0 0 0;
      margin: 0;
      width: 32%;
      vertical-align: middle;
      text-align: center;
      border-radius: 50%;
    }

    #professional ul li:hover {
      background-color: #232323;
      /* Safari 4-5, Chrome 1-9 */
      background: -webkit-gradient(radial, center center, 0, center center, 460, from(#282828), to(#232323));
      /* Safari 5.1+, Chrome 10+ */
      background: -webkit-radial-gradient(circle, #282828, #232323);
      /* Firefox 3.6+ */
      background: -moz-radial-gradient(circle, #282828, #232323);
      /* IE 10 */
      background: -ms-radial-gradient(circle, #282828, #232323);
    }

      #professional ul li img {
        height: 75px;
      }

      #professional ul li span {
        padding-top: 10px;
        display: block;
        font-size: 0.9em;
        font-weight: 300;
      }

      #professional ul li span.job-title {
        color: grey;
      }

#project {
  color: white;
  background-color: #2d2d2d;
}

  #project h1 {
    text-align: right;
  }

.icon {
  text-decoration: none;
  position: relative;
  color: #999999;
}

  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }

  .icon > .label {
    display: none;
  }

  .icon:hover {
    color: white;
  }

#bg {
  -moz-animation: bg 60s linear infinite;
  -webkit-animation: bg 60s linear infinite;
  -ms-animation: bg 60s linear infinite;
  animation: bg 60s linear infinite;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  background: black url("images/bg.jpg") top left;
  background-repeat: repeat-x;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  z-index: -1;
  top: 0;
}

@-moz-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-webkit-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-ms-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

#bg {
  background-size: 2250px auto;
  width: 6750px;
}