@import url("font-awesome.min.css");

html {
  height: 100%;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  display: block;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: scroll;
}

body {
  height: 100%;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #307EA9;
  text-decoration: none;
}

.full-height {
  min-height: 0%;
}

.full-width {
  width: 100%;
}

article {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

.center-container {
  padding: 10% 0 10%;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.center-wrapper {
  display: table;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
  .center-wrapper .inner-wrapper {
    display: table-cell;
    width: 100%;
    padding: 0 20px;
  }

#main {
    background-color: transparent;
  }

    #main ul {
      list-style-type: none;
      padding: 0;
    }

      #main ul li {
        display: inline-block;
        padding: 0 10px;
      }

    #main h1 {
      color: white;
      font-weight: 300;
    }

    #main p {
      color: #b3b3b3;
      padding-bottom: 0.5em;
    }

#professional {
  color: white;
  background-color: #232323;
  text-align: center;
}

  #professional h1 {
    text-align: center;
  }

  #professional ul {
    list-style-type: none;
    padding-left: 0;
  }

    #professional ul li {
      display: inline-block;
      padding: 50px 0 0 0;
      margin: 0;
      width: 32%;
      vertical-align: middle;
      text-align: center;
      border-radius: 50%;
    }

    #professional ul li:hover {
      background-color: #232323;
      /* Safari 4-5, Chrome 1-9 */
      background: -webkit-gradient(radial, center center, 0, center center, 460, from(#282828), to(#232323));
      /* Safari 5.1+, Chrome 10+ */
      background: -webkit-radial-gradient(circle, #282828, #232323);
      /* Firefox 3.6+ */
      background: -moz-radial-gradient(circle, #282828, #232323);
      /* IE 10 */
      background: -ms-radial-gradient(circle, #282828, #232323);
    }

      #professional ul li img {
        height: 75px;
      }

      #professional ul li span {
        padding-top: 10px;
        display: block;
        font-size: 0.9em;
        font-weight: 300;
      }

      #professional ul li span.job-title {
        color: grey;
      }

#project {
  color: white;
  background-color: #2d2d2d;
}

  #project h1 {
    text-align: center;
  }

  #project ul {
    list-style-type: none;
    padding: 0;
  }

    #project ul li {
      display: inline-block;
      padding: 10px 0;
      margin: 2px 0;
      width: 100%;
      border-radius: 10px;
      background: #232323;
    }

      #project ul li h3 {
        padding: 0 20px;
        color: salmon;
      }

      #project ul li p {
        padding: 0 20px;
        font-weight: 300;
        line-height: 1.5em;
      }

        #project ul li ul {
          padding-left: 20px;
        }

.icon {
  text-decoration: none;
  position: relative;
  color: #999999;
}

  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }

  .icon > .label {
    display: none;
  }

  .icon:hover {
    color: white;
  }

/* Mobile - landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .center-wrapper .inner-wrapper {
    display: table-cell;
    width: 100%;
    padding: 0 15%;
  }
  .full-height {
    min-height: 100%;
  }
  .center-container {
    padding: 17.5% 0 17.5%;
    text-align: center;
  }
}

/* Tablets - Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
  .center-wrapper .inner-wrapper {
    display: table-cell;
    width: 100%;
    padding: 0 10%;
  }
}

/* Tablets - landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
  .center-wrapper .inner-wrapper {
    display: table-cell;
    width: 100%;
    padding: 0 15%;
  }
  .full-height {
    min-height: 100%;
  }
  .center-container {
    padding: 25% 0 25%;
    text-align: center;
  }
  #professional h1 {
    margin-top: 15%;
  }
}

/* Laptop */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .center-wrapper .inner-wrapper {
    display: table-cell;
    width: 100%;
    padding: 0 15%;
  }
  .full-height {
    min-height: 100%;
  }
  .center-container {
    padding: 17.5% 0 17.5%;
    text-align: center;
  }
  #professional h1 {
    margin-top: 10%;
  }
}

#bg {
  -moz-animation: bg 60s linear infinite;
  -webkit-animation: bg 60s linear infinite;
  -ms-animation: bg 60s linear infinite;
  animation: bg 60s linear infinite;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  background: black url("images/bg.jpg") top left;
  background-repeat: repeat-x;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  z-index: -1;
  top: 0;
}

@-moz-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-webkit-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-ms-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

#bg {
  background-size: 2250px auto;
  width: 6750px;
}