@import url("font-awesome.min.css");

html {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: inline-block;
  /*height: 100%;*/
  width: 98%;
}

article {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#main {
  margin: 17.5% 0;
  vertical-align: middle;
  text-align: center;
}

  #main ul {
    list-style-type: none;
    padding: 0;
  }

    #main ul li {
      display: inline;
      padding: 0 10px;
    }

  #main h1 {
    color: white;
    font-weight: 300;
    font-size: 2em;
  }

  #main p {
    font-size: 0.9em;
    color: #b3b3b3;
    padding-bottom: 0.5em;
  }

  #main p a {
    color: #307EA9;
    text-decoration: none;
  }

.icon {
  text-decoration: none;
  position: relative;
  color: #999999;
}

  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }

  .icon > .label {
    display: none;
  }

#bg {
  -moz-animation: bg 60s linear infinite;
  -webkit-animation: bg 60s linear infinite;
  -ms-animation: bg 60s linear infinite;
  animation: bg 60s linear infinite;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  background: black url("images/bg.jpg") bottom left;
  background-repeat: repeat-x;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  z-index: -1;
  top: 0;
}

@-moz-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-webkit-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-ms-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

#bg {
  background-size: 2250px auto;
  width: 3750px;
}